.background {
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed;
    overflow-x: hidden;
}

.btn-primary {
    background-color: #006d9b;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #003d56;
}

.btn-secondary {
    background-color: #5e5e5e;
    border: none;
    display: block;
    width: 100%;
}

#room_table_header {
    background-color: #009de0;
    color: white;
}

#end_header {
    background-color: #009de0;
    color: white;
    display: flex;
    align-items: center;
}

.icon-color {
    color: #009de0
}

#title {
    color: #006d9b;
    font-family: Roboto L, cursive;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 4px 6px black;
}

.custom-control {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    display: flex;
    transition: all 0.5s;
    height: 9vh;
    background: #009de0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

#header_logo {
    max-height: 5vh;
    margin: 1vh;
    float: left;
}
#logout_btn{
    margin-top: 10px;
    font-size: 20px;
}
#header_title {
    color: #FFFFFF;
    line-height: 1;
    font-size: 4vh;
}

#undertitle {
    font-size: 1.5vh;

}

#right_header {
    margin-right: 10px;
}

.custom-control h4, #input-checkbox {
    position: relative;
    margin-bottom: 0;
}





#victoryImg {
    display: block;
    width: 50%;
    /*height: 50vh;*/
    /*padding: 0 20px 0 0;*/
    margin-left: auto;
    margin-right: auto;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 16rem;
}

.logo_mini {
    width: 4rem;
    margin-bottom: 1rem;
}

#top {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20vw;
}

#top p {
    position: relative;
    margin-bottom: 0;
    color: white;
}
#top button {
    font-size: 25px;
    margin-left: 0.5rem;
    padding: 10px;
    border-radius: 10px;
}
@media (max-width: 480px) and (orientation: portrait) {

    #top button {
        font-size: 1rem;
    }
}
#logo_start {
    width: 10rem;
    position: relative;
}

#final_title {
    margin-top: 20px;
    color: #006d9b;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 2px 3px #979797;
    text-align: center;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /*font-size: 0.5rem;*/
}

#game-loading-img {
    object-fit: cover;
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40vw;
    height: 100vh;
    border-radius: 5px;
    border: 5px solid #006d9b;
}

#video {
    display: none;
}

.canvas-container {
    width: 100%;
    transform: scaleX(-1);
    background-color: rgba(0, 0, 0, 0.8);
}

#container-rooms, #container-join {
    padding: 0;
}

#canvas-container-img, #canvas-container-imgSolo {
    height: 44%;
}

#canvas-container-cam, #canvas-container-camSolo {
    height: 48%;
}

.canvas-container > canvas {
    width: 100%;
}

.grayed-out, .unclickable, .grayed-out:nth-of-type(odd) {
    pointer-events: none;
    filter: grayscale(50%);
    background-color: #f19b88 !important;
    color: #595959;
}

#rooms-list {
    text-align: center;
    border-radius: 0.25rem;
    display: block;
    margin-bottom: 1rem !important;
}

.input-group select {
    font-size: 18px;
}

#rooms-table {
    display: inline-table;
}

#add_room_row, #join_room_row {
    width: 100%;
}

th:nth-child(1), td:nth-child(1) {
    width: 6vw;
}

#add_room_row td:nth-child(1), #join_room_row td:nth-child(1) {
    width: 21vw;
    background-color: #006d9b;
    color: white;
}

th:nth-child(2), td:nth-child(2) {
    width: 15vw;
}

th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5), th:nth-child(6), td:nth-child(6) {
    width: 19vw;
}

th:nth-child(7), td:nth-child(7) {
    width: 3vw;
}

#add_room_row td:nth-child(2), #add_room_row td:nth-child(3),
#add_room_row td:nth-child(4), #add_room_row td:nth-child(5) {
    width: 19vw;
}

caption {
    padding-left: 10px;
    caption-side: top;
}

#add_room_row td:nth-child(6) {
    width: 3vw;
}

#join_room_row td:nth-child(3), #join_room_row td:nth-child(4) {
    width: 15vw;
}

#join_room_row td:nth-child(2), #join_room_row td:nth-child(5) {
    width: 23vw;
}

#join_room_row td:nth-child(6) {
    width: 3vw;
}

#add_room_row td:nth-child(6) a, #join_room_row td:nth-child(6) a {
    padding: 0;
}

.table td, .table th {
    padding: 0.2rem;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

#privacyPopup {
    background-color: white;
    color: black;
    display: block;
    /*width: 60vw;*/
}

#privacyPopup h2 {
    font-size: 30px;
    background-color: white;
    color: black;
    display: block;
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 999;
}

#policy_stuff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    justify-content: center;
    height: 100%;
}

#policy_stuff a {
    margin-bottom: 0.5rem;
}

#policy_stuff label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#acceptCheckbox {
    margin-right: 0.5rem;
}

#rooms-title {
    width: 100%;
    background-color: #006d9b;
    height: calc(100% - 1rem);
    vertical-align: middle;
    border: none;
}

.enabled {
    pointer-events: auto;
    pointer: hand;
    opacity: 1;;
}

/* CSS class for disabling elements */
.disabled {
    pointer-events: none;
    pointer: default;
    opacity: 0.5;
}

#roomid_textInput {
    width: 100%;

}

#rooms-title h4 {
    padding: 0.375rem 0.75rem;
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 0;
}

.score-container {
    flex: auto 1 1;
    background-color: #006d9b;
    height: 4%;
}

#waiting-screen {
    transform: translate(0px, -24px);
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: 75%;
    padding: 0;
    width: 100%;
    height: 100%;
}

#end-text {
    background-color: white;
    /*padding: 1rem;*/
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: left;
    line-height: calc(100% + 0.5rem);
}

.form-group {
    margin-bottom: 0.1rem;
}

#email_form button, #email_form input, #email_form select {
    font-size: 20px;
}

.div_end {
    padding: 20px;
    background-color: white;
    width: 50%;
    max-width: 533.33px;
}

.div_index, .div_signup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 1rem);
}

.pl-4, .px-4 {
    padding-left: 0.5rem !important;
}

.pr-4, .px-4 {
    padding-right: 0.5rem !important;
}

#signup_box {
    width: 90%;
}

.progress {
    height: 80%;
}

#level-list {
    position: relative;
    top: 10%;
    font-size: 18px;
}

#two-players {
    color: white;
    position: fixed;
    top: 20px;
    left: 10px;
    display: none;
    flex-wrap: wrap;
    width: 20%;
}

#player-slider {
    margin: auto;
    align-items: center;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#form {
    position: relative;
    margin: 10px auto auto;
    display: none;
}

#Npose {
    width: 25%;
}

.score-container2 {
    flex: 50% 1 1;
    background-color: #006d9b;
    height: 4%;
}

#camCanvas {
    height: 100%;
    object-fit: contain;
}

#imgCanvas {
    height: 100%;
    object-fit: contain;
}

#artwork_label {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    font-size: 2vh;
}

.timer-div {
    background-color: #006d9b;
    height: 4%;
    text-align: center;
    font-size: 2vh;
}

#timer {
    display: none;
}

.pose {
    height: 46%;
}

.cam {
    height: 46%;
    flex: 50% 1 1;
}

.room {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.fade-me {
    opacity: 0.7;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/*smartphone*/
@media (max-width: 480px) {
    #two-players {
        color: white;
        position: relative;
        top: 10%;
        display: none;
        flex-wrap: wrap;
        width: 100%;
    }

    #main {
        overflow-y: hidden;
        margin: 0;
        width: 100vw;
    }
}

/*tablet portrait*/
@media (min-width: 481px) and (max-width: 960px) and (orientation: portrait) {
    #main {
        width: 70vw;
    }
}

/*tablet landscape and desktop*/
@media (min-width: 961px) and (orientation: landscape) {
    #main {
        width: 80vw;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        flex-wrap: wrap;
    }

    .timer-div {
        order: 1;
        flex: 100% 0 0;
        height: 5%;
        font-size: 3vh;
    }

    .score-container {
        order: 2;
        height: 5%;
        width: 100%
    }

    #artwork_label {
        order: 3;
        height: 5%;
        width: 100%;
        font-size: 3vh;
    }

    #canvas-container-img, #canvas-container-cam {
        order: 4;
        height: 85% !important;
        width: 50%;
    }

    #canvas-container-imgSolo, #canvas-container-camSolo {
        order: 4;
        height: 90% !important;
        width: 50%;
    }

    #canvas-container-img, #canvas-container-imgSolo {
        border-top: 5px solid #006d9b;
        border-left: 2.5px solid #006d9b;
    }

    #canvas-container-cam, #canvas-container-camSolo {
        border-top: 5px solid #006d9b;
        border-right: 2.5px solid #006d9b;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    #main {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        flex-wrap: wrap;
    }

    .timer-div {
        order: 1;
        flex: 100% 0 0;
        height: 5%;
        font-size: 3vh;
    }

    .score-container {
        order: 2;
        height: 5%;
        width: 100%
    }

    #artwork_label {
        order: 3;
        height: 5%;
        width: 100%;
        font-size: 3vh;
    }

    #canvas-container-img, #canvas-container-cam {
        order: 4;
        height: 85% !important;
        width: 50%;
    }

    #canvas-container-imgSolo, #canvas-container-camSolo {
        order: 4;
        height: 90% !important;
        width: 50%;
    }

    #canvas-container-img, #canvas-container-imgSolo {
        border-top: 5px solid #006d9b;
        border-left: 2.5px solid #006d9b;
    }

    #canvas-container-cam, #canvas-container-camSolo {
        border-top: 5px solid #006d9b;
        border-right: 2.5px solid #006d9b;
    }
}

#policy_container {
    display: flex;
    flex-direction: column;
    padding: 20px 20vw;
    position: fixed;
    top: 0%;
    left: 5%;
    transform: translate(0%, 0%);
    overflow-y: scroll;
    height: 100%;
}

#policy_container h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

#policy_container h2 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

#policy_container p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

#tableG1, #tableG2 {
    text-align: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
}

.footer_container {
    background: #009de0;
    position: relative;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer h3 {
    font-size: 2vw;
    font-weight: 400;
    color: #fff;
    position: relative;
    line-height: 5%;
    margin: 0 1vw 0 2vw;
}

#footer .social-links {
    margin: 0 2vw;
}

#footer .social-links a {
    font-size: 3vh;
    display: inline-block;
    /*background: #11303b;*/
    color: #fff;
    line-height: 0;
    padding: 0.5vh 0;
    border-radius: 50%;
    text-align: center;
    width: 4vh;
    height: 4vh;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #fdf003;
    color: #11303b;
    text-decoration: none;
}

@media screen and (min-width: 450px) and (max-width: 769px) {
    #footer h3 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 449px) {
    #footer {
        position: fixed;
    }

    #footer h3 {
        font-size: 3vw;
        line-height: 6vh;
    }

    #footer .social-links {
        display: inline-block;
        margin: 1vh;
    }

    #footer .social-links a {
        position: relative;
        font-size: 5vw;
        width: 7vw;
        padding: 1vw;
        height: 7vw;
    }
}


