<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
  <title>Privacy Policy</title>
</head>

<body>
<div id="policy_container">
  <h1>Privacy Policy</h1>

  <p>Thank you for utilizing our web application, Strike-a-Pose. This Privacy Policy is crafted to provide transparency
    regarding the collection, utilization, and protection of your personal information. By engaging with our services,
    you implicitly agree to the terms delineated in this policy.</p>

  <h2>Information We Collect</h2>

  <p>We collect body images via your device's webcam with the exclusive purpose of generating the final video. Following
    the video creation and email transmission, no files or images are retained on our system.</p>

  <h2>Use of Body Images</h2>

  <p>The body images obtained are strictly utilized for the artistic transformation process within the web application.
    We neither employ nor disseminate these images for any alternative purpose, and they are expeditiously removed from
    our servers once the artwork is generated.</p>

  <h2>Email Communication</h2>

  <p>Upon video generation, we may request your email address to forward the final result. Your email address is
    exclusively utilized for this purpose and is not retained or employed for any marketing or promotional endeavors.</p>

  <h2>Data Security</h2>

  <p>We approach the security of your data with the utmost seriousness. Our web application employs industry-standard
    security measures to safeguard your information against unauthorized access, disclosure, alteration, and destruction.</p>

  <h2>Third-Party Services</h2>

  <p>Your images and personal information are not shared with any third-party services. The entire process, encompassing
    image capture, video generation, and email delivery, is managed within our secure environment.</p>

  <h2>Children's Privacy</h2>

  <p>Our services are intended for individuals under the age of 13 only under the direct supervision of an adult.
    We consciously refrain from collecting personal information from children. If you suspect inadvertent collection of
    information from a child, kindly contact us promptly.</p>

  <h2>Changes to the Privacy Policy</h2>

  <p>We retain the right to update this Privacy Policy to align with alterations in our practices. Users will be duly
    notified of any substantial changes through the posting of the updated policy on our website.</p>

  <h2>Contact Information</h2>

  <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:{{ smtp_username }}" style="color: steelblue;">{{ smtp_username }}</a>.</p>

</div>
</body>

</html>