<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
  <title>Privacy Policy</title>
</head>

<body>
<div id="policy_container">
  <h1>Privacy Policy</h1>

  <p>Thank you for using our web app. This Privacy Policy is designed to help you understand how we collect, use, and
    safeguard your personal information. By using our services, you agree to the terms outlined in this policy.</p>

  <h2>Information We Collect</h2>

  <p>We collect body images through your device's webcam solely for the purpose of generating the final video. We do not
    store any files or images on our system after the video is created and sent via email.</p>

  <h2>Use of Body Images</h2>

  <p>The body images captured are used exclusively for the artistic transformation process within the web app. We do not
    use or share these images for any other purpose, and they are not stored on our servers after the artwork is
    generated.</p>

  <h2>Email Communication</h2>

  <p>Upon generating the video, we may request your email address to send you the final result. Your email address is
    used solely for this purpose and is not stored or used for any marketing or promotional activities.</p>

  <h2>Data Security</h2>

  <p>We take the security of your data seriously. Our web app employs industry-standard security measures to protect
    your information from unauthorized access, disclosure, alteration, and destruction.</p>

  <h2>Third-Party Services</h2>

  <p>We do not share your images or personal information with any third-party services. The entire process, from image
    capture to video generation to email delivery, is handled within our secure environment.</p>

  <h2>Children's Privacy</h2>

  <p>Our services are not intended for individuals under the age of 13. We do not knowingly collect personal information
    from children. If you believe that we may have inadvertently collected information from a child, please contact us
    immediately.</p>

  <h2>Changes to the Privacy Policy</h2>

  <p>We reserve the right to update this Privacy Policy to reflect changes in our practices. We will notify users of any
    material changes by posting the updated policy on our website.</p>

  <h2>Contact Information</h2>

  <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:{{ smtp_username }}" style="color: steelblue;">{{ smtp_username }}</a>.</p>

  <p>Thank you for trusting us with your information.</p>
</div>
</body>

</html>